@import "components/_variables";
@import "components/_nav";
@import "components/_main";
@import "components/_footer";
@import "components/_mixins";

// Import Login and Register Forms
@import "components/_login";
@import "components/_register";
@import "components/_legales";
@import "components/_cart";
@import "components/_404";

html {
  font-family: Source Sans Pro, sans-serif;
}
.body {
  width: 100%;
  height: auto;
  background-color: #f8f6f4;
}
