/*Colores*/
$celeste: #4295a5;
$azuleta: #005466;
$roseta: #fcd0aa;
$verduso: #67cea5;
$salmonella: #fcc97b;
$bordo: #932610;
$rosso: #ff0000;
$rossa: #f73233;
$naranjin: #c9471a;
$pielcita: #edc78d;
$footer-bg: #67cea5;
$blackie: black;
$whity: #fff;
$gandalf: #c5c5c5;

/* Borders Radius */
$border-round: 50%;
$border-medium: 26px;
$border-small: 7px;

//Font Tipe
$font-uno: "roboto", sans-serif;
$font-dos: "montserrat", sans-serif;
$font-tres: "nunito", sans-serif;

// Font Size
$bg-title: 25px;
$md-title: 15px;
$sm-title: 10px;
